
.wrapper-loading-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    & .loading-page{

        & .loading-page__img{
            width: 60px;
            height: 60px;
            animation: rotate 2s infinite linear;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.error-block{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & h3{
        color: #e20c0c;
        font-size: 21px;
        font-weight: 500;
    }
}