
.modalMain-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    bottom: 20px;
    right: 20px;
    width: 240px;
    height: 47px;
    background-color: var(--accent);
    color: #fff;
    border-radius: 14px 14px 0px 14px;
    opacity: 0;
    transition: opacity 300ms ease-in-out;

    &.modalMain-wrapper-entering,
    &.modalMain-wrapper-entered {
        opacity: 1;
    }

    &.modalMain-wrapper-exiting,
    &.modalMain-wrapper-exited {
        opacity: 0;
    }

    & .modalMain{
        display: flex;
        justify-content: center;
        align-items: center;

        & h3{
            text-align: center;
        }
    }

}