
.wrapper-products{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.products{
    padding: 20px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.product-item{
    align-self: start;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 100%;
    border: 2px solid #c6c4c4f6;
    border-radius: 9px;

    &:hover{
        transition: 0.3s;
        box-shadow: 0px 0px 2px 2px rgba($color: #c6c4c4f6, $alpha: 1.0);
    }
}

.products-item-main{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    height: 100%;
    padding: 5px;
}

.product-item-image{
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    
    & img {
        border-radius: 8px;
        width: 240px;
        height: 250px;
    }
}

.product-item-title{
    & h3{
        max-width: 240px;
        font-weight: 500;
        font-size: 14px;
    }
}

.product-item-price{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;

    & .product-item-price__p{
        font-weight: 600;
        font-style: normal;
    }
}

.product-item-buy__img{
    width: 54px;
    height: 54px;
    cursor: pointer;
    border-radius: 50%;

    &:hover{
        transition: 0.3s;
        box-shadow: 0px 0px 2px 2px rgba($color: #5097def6, $alpha: 1.0);
    }
}

.paginations{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    padding: 20px 0px;

    & img {
        width: 35px;
        height: 35px;
        cursor: pointer;
    }
}

.paginations-list{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

    & li {
        padding: 4px 9px;
        border: 2px solid #c6c4c4f6;
        cursor: pointer;
        border-radius: 5px;
        font-style: normal;
        font-weight: 500;

        &:hover{
            transition: 0.3s;
            box-shadow: 0px 0px 1px 1px rgba($color: #b7b6b6, $alpha: 1.0);
        }
    }
}